# === UNITY ===
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Visual Studio / VS Code
.vscode/
*.csproj
*.sln

# Unity auto files
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb

# Android / Builds
*.apk
*.aab

# Burst
Tic TacMZ_BurstDebugInformation_DoNotShip/

